---
import HeaderLink from "./HeaderLink.astro";
// import { EmailSelect } from "./EmailSelect";
---

<header class="m-[0_0_2em]">
  <h2 class="text-xl pb-1 flex items-center gap-3 m-[0.5em_0]">
    <img
      src="/images/johnbakhmat.webp"
      alt="johnbakhmat's avatar"
      width={50}
      height={50}
      class="rounded-full border-none m-0 font-bold"
    />
    John Bakhmat 
  </h2>
  <nav class="flex gap-3">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/faq">FAQ</HeaderLink>
    <HeaderLink href="https://github.com/johnbakhmat" target="_blank"
      >GitHub</HeaderLink
    >
    <!-- <EmailSelect client:visible /> -->
  </nav>
</header>
<style>

</style>