---
import HeaderLink from "./HeaderLink.astro";
import { EmailSelect } from "./EmailSelect";
---

<div class="grain"></div>
<header class="m-[0_0_2em]">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
    <h2 class="text-3xl pb-1 flex items-center gap-3 m-[0.5em_0]">
      John Bakhmat
    </h2>
    <nav class="flex gap-3">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog/">Blog</HeaderLink>
      <HeaderLink href="/uses">Tools</HeaderLink>
      <HeaderLink href="/faq">FAQ</HeaderLink>
      <HeaderLink href="https://github.com/johnbakhmat" target="_blank"
        >GitHub</HeaderLink
      >
      <EmailSelect client:visible />
    </nav>
    </div>
    <img
      src="/images/johnbakhmat.webp"
      alt="johnbakhmat's avatar"
      width={100}
      height={100}
      class="rounded-xl m-0 font-bold border-themeAccent border border-dashed"
    />
  </div>
</header>
<style></style>
